header
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        = link_to "いちくらイラスト投稿", root_path, :class => "navbar-brand"
        button.navbar-toggle[type="button" data-toggle="collapse" data-target="#navbar-main"]
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav
          - if user_signed_in?
            li
              = link_to "Top", root_path
            li
              = link_to 'イラスト投稿', new_illust_path
            li
              = link_to "ソースコード", "https://github.com/S-H-GAMELINKS/ichiji-illust"
            li
              = link_to("ログアウト", destroy_user_session_path, method: :delete)
          - else
            li
              = link_to "いちくらログイン", user_mastodon_omniauth_authorize_path